<h1>List of photos</h1>

<ul class="row" id="photos-list">
  <%= render @photos %>
</ul>

<h3>Upload one photo </h3>
<%= form_for @photo, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, required: true %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary btn-lg' %>
<% end %>

<h3>Upload multiple photos</h3>
<%= form_for @photo, html: {id: 'new-multiple-photos'} do |f| %>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, required: true, multiple: true, name: 'photo[image]' %>
  </div>

  <div class="progress" style="height: 18px; background-color: green; width: 0"></div>
<% end %>

<script>
  $(document).ready(function() {
    var multiple_photos_form = $('#new-multiple-photos');
    multiple_photos_form.fileupload({
      dataType: 'script',
      add: function (e, data) {
        types = /(\.|\/)(gif|jpe?g|png|bmp)$/i;
        file = data.files[0];
        if (types.test(file.type) || types.test(file.name)) {
          data.submit();
        }
        else { alert(file.name + " is not a gif, jpeg, bmp or png image file"); }
      }
    });

    multiple_photos_form.on('fileuploadsubmit', function (e, data) {
      var author_field = $('#photo_author');
      data.formData = {'photo[author]': author_field.val()};
    });

    multiple_photos_form.on('fileuploadprogressall', function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
      multiple_photos_form.find('.progress').css('width', progress + '%');
    });
  });
</script>